<mat-card>
    <mat-card-title>{{title}}</mat-card-title>
    <mat-card-subtitle>{{description}}</mat-card-subtitle>
    <mat-card-content>
        <div cdkDropList class="band-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let band of bands" cdkDrag>
                    <mat-grid-list  cols = 6 >
                        <mat-grid-tile class = "puzzle-tile" *ngFor = "let letter of band ">
                            {{letter}}
                        </mat-grid-tile>
                    </mat-grid-list>
            </div>
        </div>
        <h4>On the first day of Christmas...</h4>
        <h4>On the second day of Christmas... one turtle</h4>
        <h4>On the third day of Christmas... three calling</h4>
        <h4>On the fourth day of Christmas... five leaping</h4> 
        <h4>On the fifth day of christmas... three ladies</h4>
        <h4>On the sixth day of christmas... two golden</h4>
       
        
        <div>
            <mat-form-field>
                <input matInput id="guess"  type = "text" [(ngModel)]="guess"/>
            
            </mat-form-field>
        
            <button mat-button (click)= "checkAnswer()">
                check your answer
            </button>
        
        </div>
        <h4 *ngIf = "flag"> you got it right</h4>
      
    </mat-card-content>

</mat-card>