<mat-card>
    <mat-card-title>{{title}}</mat-card-title>
    <mat-card-subtitle>{{description}}</mat-card-subtitle>
    <mat-card-content>
        <div cdkDropList class="band-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let band of bands" cdkDrag>
                <mat-grid-list cols = 6>
                    <mat-grid-tile *ngFor = "let letter of band ">
                        {{letter}}
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
        </div>
        <img mat-card-image src = "https://sambouiss.github.io/christmas-puzzle/assets/band/clues.png"/>
        <div>
            <mat-form-field>
                <input matInput id="guess"  type = "text" [(ngModel)]="guess"/>
            
            </mat-form-field>
        
            <button mat-button (click)= "checkAnswer()">
                check your answer
            </button>
        
        </div>
        <h4 *ngIf = "flag"> you got it right</h4>
    </mat-card-content>

</mat-card>