<mat-card>
    <mat-card-title>{{title}}</mat-card-title>
    <mat-card-subtitle>{{description}}</mat-card-subtitle>
    <mat-card-content>
        <div>
            <input class="a2" maxlength="1"/>
            <input class="a1" maxlength="1"/>
            <input class="a1" maxlength="1"/>
            <input class="a1" maxlength="1"/>
            <input class="a1" maxlength="1"/>
            <input class="a1" maxlength="1"/>
            <input class="a1" maxlength="1"/>
        </div>

        <div>
            <input class="a1" maxlength="1"/>
            <input class="a1" maxlength="1"/>
            <input class="a1" maxlength="1"/>
            <input class="a1" maxlength="0"/>
            <input class="a1" maxlength="1"/>
            <input class="a2" maxlength="1"/>
            <input class="a1" maxlength="1"/>
            <input class="a1" maxlength="1"/>
            <input class="a1" maxlength="1"/>
            <input class="a1" maxlength="1"/>
            <input class="a1" maxlength="1"/>
            <input class="a1" maxlength="1"/>
            <input class="a1" maxlength="1"/>
        </div>


        <mat-grid-list cols = 2 [rowHeight]="15">
            <mat-grid-tile *ngIf = "puzzleService.getCookieAnswer()">
                Cryptic Cookies
            </mat-grid-tile>
            <mat-grid-tile *ngIf = "puzzleService.getCookieAnswer()">
                {{puzzleService.getCookieAnswer()}}
            </mat-grid-tile>
            <mat-grid-tile *ngIf = "puzzleService.getBandAnswer()">
                Six Days of Chirstmas
            </mat-grid-tile>
            <mat-grid-tile *ngIf = "puzzleService.getBandAnswer()">
                {{puzzleService.getBandAnswer()}}
            </mat-grid-tile>
        </mat-grid-list>
        <div class = "form-container">
            <mat-form-field>
                <input matInput id="guess"  type = "text" [(ngModel)]="guess"/>
            </mat-form-field>
          
            <button mat-button (click)= "checkAnswer()">
                check your answer
            </button>
        
        </div>
        <h4 *ngIf = "flag"> you got it right</h4>
    </mat-card-content>
</mat-card>